$logo-filename: "../../styles/brandPacks/TED/TED-logo-130x47.png";
$logo-width: 130px;
$logo-height: 47px;
$body-bg: #272b2f;
$header-margin: 0 0 0 2.813rem;

/* main theme: the following fields are themed to be equal */
$header-bg: #272B2F;
$brando-box-color: #272B2F;
$thinking-base: #272B2F;  //TedLegacyException  $home-submit-bg: #272B2F;
$home-submit-bg: #213144;
/* theme end */

$headings: #fff;

/* feedback form */
$feedback-background: #272B2F;
$feedback-border: #111;
$feedback-select-border: #484A4C;
$feedback-select-bg: #000;
$feedback-option-bg: #000;
$feedback-select-color: #fff;
$feedback-option-border-bottom: #484A4C;
$feedback-input-background: #272B2F;
$feedback-textarea-background: #1D2124;
$feedback-textarea-color: #fff;
$feedback-submit-bg: #233A3B;
$feedback-h1: #fff;
$feedback-message: #fff;
$feedback-closer-color: #e8e8e8;

$message-color: #FFF;
$message-arrow: #FFF;

$home-background: #202427;
$home-border: #e8e8e8;
$home-buttons-uniform: #fff;
$home-inputs-border: #181b1e;
$home-select-bg: #262A2E;
$home-inputbar-bg: #141719;
$home-select-color: #FFF;
$home-option-border-bottom: #484a4c;
$home-inputs-background: #181B1E;
$home-p-color: #fff;
$home-closer-color: #fff;

/* qa or question & answer */
$question-home: #272b2f;
$home-h1-qa: #5596e6;

/* twitter */
$home-h1-twitter: #03b4a0;
$twitter-handle: #fff;

/* text (essay, speech) */
$home-h1-text: #ff7832;
$sample-speech: #1b1e21;
$sample-speech-light: #1e2224;
$sample-speech-img: #141719;
$sample-speech-img-light: #181c1e;

/* How Watson and footer */
$howwatson-bg: #223a3d;
$howwatson-color: #fff;
$how-d-block-bg: #397E7D;
$footer-button-bg: #272b2f;
$footer-button-bg-hover: #fff;
$footer-button-color: #A8AAAB;
$footer-button-color-hover: #000;
$footer-button-border: rgba(255, 255, 255, .2);
$footer-logo-fill: #fff;

$personality-container: #181B1E;

/* playlist and player ($control-buttons-label must contrast with $player-bg) */
$playlistHeader: #fff;
$playlistHighlight: #32363a;
$player-bg: #272B2F;
$player-tertiary-bg: #272b2f;
$control-buttons-label: #fff;
$control-button-fill: transparent;
$control-button-bg: #212427;

/* welcome (login) screen */
$welcome-header-bg: transparent;
$welcome-bg-1: rgb(39, 43, 47);
$welcome-bg-2: rgb(102, 102, 102);
$welcome-bg-3: rgb(25, 69, 62);
$welcome-watson-button: rgb(200, 200, 200);
$login-container: #fff;
$slider-icon-color: #fff;

$qa-color-dark: #213144;
