
$howwatson-bg: #223a3d;
$brando-box-color: #212428;


/* WATSON COLORS */
$watson-button-active: #E71D32;
$watson-red: #E71D32;
$watson-purple: #9855D4;
$watson-orange: #D74108;
$watson-teal: #008571;
$watson-green: #5AA700;
$watson-pink: #DB2780;
$watson-blue: #4178BE;

/* SPECIALTY COLORS */
$twitter-color-dark: #6C8886;
$text-color-dark: #503122;
$qa-color: #5596E6;
$qa-color-dark: #335c7f;
$howwatson-bg: #d4d5d6;

$personality-container: #6C8886;

